<div class="container col-md-6">
  <h2 class="text-center mt-4 mb-4">Vos conversations 📨</h2>
  <hr>
    <div class="conversation-feed">
      <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
            <% if current_user != recipient %>
              <%= link_to conversation_path(conversation) do %>
                <div class="text-center p-2">
                    <h4><%= recipient.first_name %></h4>
                </div>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
    </div>
</div>
