<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528667819581-ca7e29e772bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80);">
  <div class="container">
    <h2>An injury? A last minute cancellation?</h2>
    <p>Our athelete community is here to buy your bib!</p>
    <%= link_to "Sell my bib", new_bib_path, class: "btn btn-flat" %>
  </div>
</div>
