<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80);">
  <div class="container">
    <div class="logo-banner mb-3">
      <%= image_tag("rebib-logo-white.png") %>
    </div>
    <p>Vendez et achetez des dossards de course!</p>
    <%= link_to "Voir les courses", races_path, class: "btn btn-flat" %>
  </div>
</div>
