<%= simple_form_for :search, url: races_path, method: :get do %>
  <div class="search-form-control form-group mb-3">
    <%= text_field_tag :query, params[:query], class: "form-control string required", placeholder: "Trouver une course" %>
    <%= submit_tag "Rechercher", type: "submit", name: "button", class: "btn btn-flat" %>
  </div>
<% end %>
