<div class="container">
  <h2 class="mt-4 text-center">Calcul d'allure</h2>

  <h4>Préparez votre allure de course</h4>
  <%= form_with do |form| %>
    <%= form.text_area :distance, size: "En km", label: "Distance de la course" %>
  <% end %>
</div>
