<div class="container">
  <h2 class="mt-4 text-center">Calcul d'allure</h2>
  <div class="text-center">
    <h4>Préparez votre allure de course</h4>
    <%= form_with do |form| %>
      <%= form.label :distance, "Vous préparez une course de ? (en km)" %>
      <%= form.select :distance, [["Marathon", "MA"], ["Semi-marathon", "SM"], ["10km", "10"]] %>
    <% end %>
  </div>
</div>
