.etiquette {
  background-color: $secondary;
  color: white;
  border-radius: 5px;
}

.etiquette-bib {
  background-color: $white;
  color: $secondary;
  border-radius: 5px;
}

.etiquette-filter {
  background-color: $secondary;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.etiquette-filter:hover {
  color: white;
}

.etiquette-status {
  background-color: $secondary;
  color: white;
  border-radius: 5px;
}

.etiquette-purchased {
  background-color: #88292F;
  color: white;
  border-radius: 5px;
}
