.footer {
  display: flex;
  flex-shrink: 0;
  background: #242331;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
  font-weight: lighter;
  a {
    color: white;
    text-decoration: none;
  }
  h6 {
    font-weight: bolder;
    font-size: 16px;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
